# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Trips' Ray Tracing in One Weekend/v16/ipch/AutoPCH
/.vs
/Debug
/x64
/.vscode
/Ray Tracing in a Weekend.layout
/Ray Tracing in a Weekend.dev
/output.bmp
/Makefile.win
/nsight_compute_output.ncu-rep
/release build log.txt
/debug build log.txt
/models/spot.zip
/models/low-poly-mccree.zip
/models/cornell-box.zip
/Trips' Ray Tracing in One Weekend.sln.nvsettings
/Trips' Ray Tracing in One Weekend - Backup.vcxproj.user
/config.json.bak
/img-1.21-book1-final.jpg
/nsight_compute_output1.ncu-rep
/4 bounce.bmp
/3 bounce.bmp
/2 bounce.bmp
/test/x64/Debug
*.ncu-rep
