# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Trips' Ray Tracing in One Weekend/v16/ipch/AutoPCH
/.vs
/Debug
/x64
/.vscode
/Ray Tracing in a Weekend.layout
/Ray Tracing in a Weekend.dev
/output.bmp
/Makefile.win
/nsight_compute_output.ncu-rep
/release build log.txt
/debug build log.txt
